<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>

<p th:text="${user.getId}">VALUE</p>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getSurname()}">VALUE</p>
<p th:text="${user.getAge()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>

<br> <br/>
<a th:href="@{/edit(id=${user.getId()})}"> Изменить </a>
<br> <br/>
<form th:method="DELETE" th:action="@{/delete(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>